extends layout

block content
  h1= title
  - let results = [{ style: 'Full Face', size: 'Medium', price: 100 },{ style: 'Open Face', size: 'Large', price: 80 }, { style: 'Modular', size: 'Small', price: 120 },{ style: 'Half Helmet', size: 'XL', price: 60 },{ style: 'Dual Sport', size: 'Large', price: 150 }]
  div(class="container-fluid")
    div(class="row")
      each item, index in results  
        div(class="col-sm-2",onclick=`buy(${index})`)
          p #{item.style} 
          p #{item.size}
          p #{item.price}

  script.
    console.log("shjgh");
    function buy(index) {
        console.log(index)
        alert(' You purchased item ' + index);
    }



